* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  scrollbar-width: none;
}

body {
  background: #141414;
  color: #ddd;
  line-height: 1.5;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-style: normal;
}

#waves {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;

  img {
    opacity: 0.1;
    width: 100%;
    height: 100%;
  }
}

/* each view should only be of a whole section */
section {
  background: transparent;
  filter: none;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2%;
  flex-shrink: 0;
}

section.hero {
  justify-content: space-evenly;

  h2 {
    font-family: "Outfit", sans-serif;
    font-weight: inherit;
    font-size: clamp(1.5rem, 4vw, 3rem);
  }

  h1 {
    font-family: "Outfit", sans-serif;
    font-weight: inherit;
    display: flex;
    font-size: clamp(1.5rem, 4vw, 3rem);
    opacity: 0;
    scale: 0.8;
  }

  .info {
    margin: 5%;
    height: 30%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

    .avatar-container {
      height: 100%;
      aspect-ratio: 1/1;

      .avatar {
        /* filter: grayscale(1); */
        box-shadow: 0 0 25px black;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        transition: all 0.5s ease;
      }

      .avatar:hover {
        border-radius: 50px;
        scale: 95%;
      }
    }

    .info-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: clamp(1.0rem, 2vw, 2rem);
    }
  }
}

.bold {
  font-weight: 900;
}

.italic {
  /* font-style: italic; */
  padding: 0;
}

.highlight-text {
  /* text-shadow: 0 0 5px white; */
  margin: 0 1rem;
  text-wrap: nowrap;
  /* color: rgb(200, 25, 25); */
  font-size: clamp(2.5rem, 8vw, 6rem);
  position: relative;
  display: inline-block;
}

.highlight-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  /* distance under text */
  width: 0;
  /* start hidden */
  height: 10px;
  background: rgb(250, 25, 25);
  /* underline color */
  transition: width 0.5s ease;
}

.underline::after {
  width: 100%;
}

.highlight-text:hover::after {
  width: 0;
}
