:root {
  --text-color-light: #ddd;
  --background-light: #141414;
  --accent: #fa1919;
  --primary-font: normal 500 clamp(1rem, 2vw, 2rem) "Oswald", sans-serif;
  --secondary-font: normal 500 clamp(1.5rem, 4vw, 3rem) "Outfit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bold {
  font-weight: 900;
}

html {
  font-optical-sizing: auto;
  scrollbar-width: none;
  line-height: 1.5;
}

section,
#waves {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
}

body {
  background: var(--background-light);
  color: var(--text-color-light);
  font: var(--primary-font);
}

h1,
h2 {
  font: var(--secondary-font);
}

h1 {
  font-size: clamp(2.5rem, 8vw, 6rem);
}

.scale-up {
  opacity: 0;
  scale: 0.8;
}

#waves {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;

  img {
    opacity: 0.25;
    width: 100%;
    height: 100%;
  }
}

/* each view should only be of a whole section */
section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  padding: 2%;
  gap: 2.5%;

  div.title {
    grid-column: 1;
    grid-row: 1;
  }

  div.demo {
    grid-column: 1;
    grid-row: 2;
    box-shadow: 0 0 25px black;
    height: fit-content;

    img {
      width: 100%;
    }
  }

  div.readme {
    grid-column: 2;
    grid-row: 1/ span 2;
    max-height: 100vh;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: wrap;
    font-size: clamp(0.5rem, 1vw, 1.5rem);
  }

}

section.hero {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-evenly;
  text-align: center;

  div.scale-up {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .info {
    margin: 5% 0;
    height: 30%;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    justify-content: space-around;

    .avatar-container {
      height: 100%;
      aspect-ratio: 1/1;

      .avatar {
        /* filter: grayscale(1); */
        box-shadow: 0 0 50px black;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        transition: all 0.3s ease;
      }

      .avatar:hover {
        border-radius: 50px;
        scale: 95%;
      }
    }

    .info-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.highlight-text {
  text-wrap: nowrap;
  position: relative;
  width: fit-content;
}

.highlight-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  /* distance under text */
  width: 0;
  /* start hidden */
  height: 10px;
  background: rgb(250, 25, 25);
  /* underline color */
  transition: width 0.5s ease;
}

.underline::after {
  width: 100%;
}

.highlight-text:hover::after {
  width: 0;
}
